<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B3 Node.js Groupe 01</title>
</head>
 
<body style="margin: 0 auto;display: flex">
    <video style="margin: 0 auto;width: auto;height: 100vh" id="videoPlayer" width="650" controls muted="muted" autoplay>
        <%
        if (typeof video == 'string') {
        %>
        <source src="/video/<%= video %>" type="video/mp4" />
        <% } else { %>
        <source src="/video/720P_VIDEO_ULTRAHD_120FPS.mp4" type="video/mp4" />
        <% } %>
    </video>
</body>
 
</html>
