<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>B3 Node.js Groupe 01 alternatif</title>
</head>

<body style="margin: 0 auto">

<video style="margin: 0 auto;width: auto;height: 100vh" id="videoPlayer" width="650" controls muted="muted" autoplay>
    <source src="/videos/<%= video %>" type="video/mp4" />
</video>
</body>

</html>
